<!DOCTYPE html>
<html lang="en">

<head>
    {{>front_styles}}
    <title>Qodemart - Detail</title>
</head>

<body onload="showproductdetail();">
    <!-- Navbar Start -->
    {{>navbar}}
    <!-- Navbar End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5" id="products">
        </div>
    </div>
    <!-- Shop Detail End -->


    <!-- Footer Start -->
    {{>footer}}
    <!-- Footer End -->

    <!-- JavaScript Libraries -->
    {{>front_scripts}}
    {{>admin_scripts}}
</body>

</html>